<!DOCTYPE html>
<html ng-app="SimpleServer">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Basic HTTP Authentication Example</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-cookies/angular-cookies.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="modules/directive/snow.js"></script>
    <script src="modules/authentication/services.js"></script>
    <script src="modules/authentication/controllers.js"></script>
    <script src="modules/home/controllers.js"></script>
    <!--  
    <script src="scripts/snow.js"></script>
    <link href="css/snow.css" rel="stylesheet" >
    -->
  </head>

  <body>
    <script type="text/ng-template" id="messageModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            {{message}}
        </div>
    </script>
<!--  
	<div class="layer">
	   <canvas id="snow" class='img-responsive'></canvas>
	</div>
-->	
<div ng-view></div>

<!--  
    <div class="jumbotron ng-snow">
      <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
          <div ng-view></div>
        </div>
      </div>
    </div>
-->  

  </body>

</html>