<!--  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand christmasSnow gi-3x">Secret Santa</span>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <form class="navbar-form navbar-left pull-right" name="form" ng-submit="login()" role="form">
      <div class="form-group">
        <a class="btn btn-primary" href="/logout">Logout</a></a>
      </div>
    </form>
  </div>
</nav>
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand christmasSnow gi-3x">Secret Santa</span>
    </div>
    <form class="navbar-form navbar-right" name="form" role="form">
      <div class="form-group">
        <div class="btn-group" uib-dropdown>
          <button id="btn-append-to-single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
            Menu <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
            <li role="menuitem"><a ui-sref="c" ng-click="changePasswordOpen()">Change Password</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</nav>

<script type="text/ng-template" id="changePasswordModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Change Password</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="container center-block">
            <div class="row">
                <input type="password" ng-model="data.password1" placeholder="Enter New Password">
            </div>
            <div class="row">
                <input type="password" ng-class="{'text-danger': data.password2 !== data.password1}" ng-model="data.password2" placeholder="Re-Enter New Password">
            </div>
        </div>
        <div>{{message}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="changePasswordSave()">Update</button>
        <button class="btn btn-default" type="button" ng-click="changePasswordExit()">Cancel</button>
    </div>
</script>

<div class="container">
<p class="bigSecret gi-2x gi-red">
    Ho, ho, ho! Welcome to the 2016 Solutions Dev/Test Secret Santa.
</p>
<p class="bigSecret gi-2x gi-red">
    In the past we have 
</p>

<p class="gi-2x gi-red"><span ng-click="data.vote = 0" ng-class="data.vote == 0 ? 'glyphicon-check' : 'glyphicon-unchecked'" class="form-group glyphicon"></span> <span class="bigSecret">Ho, Ho, NO WAY!!!</span></p>
<p class="gi-2x gi-red"><span ng-click="data.vote = 5" ng-class="data.vote == 5 ? 'glyphicon-check' : 'glyphicon-unchecked'" class="form-group glyphicon"></span> <span class="bigSecret">Count me in, but I'm counting my pennies (£5).</span></p>
<p class="gi-2x gi-red"><span ng-click="data.vote = 10" ng-class="data.vote == 10 ? 'glyphicon-check' : 'glyphicon-unchecked'" class="form-group glyphicon"></span> <span class="bigSecret">I'm happy to go the whole hog (£10).</span></p>

<p class="bigSecret gi-2x gi-red">
    Move your mouse pointer over <span uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'">HERE</span> to see who you are Secret Santa for.
</p>

</div>
